# General
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# Node
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Flutter / Dart
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.metadata
**/*.g.dart

# Android / iOS configs
**/android/local.properties
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*
**/macos/Flutter/GeneratedPluginRegistrant.*
**/linux/flutter/generated_plugin_registrant.*
**/windows/flutter/generated_plugin_registrant.*

# Backend envs
**/.env
**/.env.*

# Virtual envs
.venv/
**/.venv/

# Windows reserved names
nul
**/nul

# Test coverage
coverage/

# Logs
*.log
